@import "../../variables.css";

.Home__Contaner{
    /* background-color: var(--color-primario); */
    background-color: var(--color-primario);
    height: auto;
    display: flex;
    align-items: center;
    color: #fff;
}

.Home__Contaner_movies{
    background-color: var(--color-primario);
    height: 95%;
    width: 100%;
    margin-top: 50px;
}

.Home__Row{
   width: 100%;
 
    height: 100%;
}

.Home__Col{
    width: 100%;
   
    border: 1px solid black  ;
}

.Home__ContentSeries{
   display: flex;
    width: 100%;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.Home__ContentSeriesTitlte{
  width: auto;
   margin-top: 20px;
   text-align: center;
}
.Home__ContentSeries img {
padding: 30px;    
}

.Home__ContentEntrarSerie{
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 30px;
}
.Home__ContentEntrarSerie img{
    width: 200px;
    height: 200px;
}

.Home__ContentMovie{
    width: 100%;
    text-align: center;
    
}

.Home__ContentMovie img{
    width: 100%;
}
/* .Home__ContentPoster1{
    
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: 16px;
}
.Home__ContentPoster1 img{
    width: 500px;
    height:50vh;
} */
.Home__ContentPoster2{

    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: 16px;
}
.Home__ContentPoster2 img{
    width: 100%;
    height:50vh;
}