@import "../../variables.css";

.Home__Contaner{
    background-color: var(--color-primario);

    height: 100vh;
    display: flex;
    align-items: center;
}

.Home__Contaner_movies{
    background-color: rgb(207, 207, 207);
    height: 95%;
    
}

.Home__Row{
    background-color: aquamarine;
    height: 100%;
}

.Home__Col{
    background-color: aquamarine;
    border: 1px solid black  ;
}

.Home__ContentSeries{
    background-color: blue;
}

.Home__ContentMovie{
    background-color: rgb(136, 255, 0);
}
.Home__ContentPoster1{
    background-color: red;
}
.Home__ContentPoster2{
    background-color: rgb(255, 0, 140);
}