@import "../../variables.css";

.Movie__Container{
    background-color: rgb(30, 90, 62);
    height: 100vh;
}



.Movie__Row_Description{
    background-color: var(--color-primario);
    height: 40vh;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Movie__Row_info{
    background-color: rgb(131, 131, 131);

}

#imgMovie{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    vertical-align: middle;
}