@import "../../variables.css";

.Movie__Container{
    background-color: rgb(30, 90, 62);
    height: 100vh;
}



#MovieRowId{
    background-color: var(--color-primario);
   
   background-repeat: no-repeat;
   background-size:cover;
    height: 40vh;
    color: white;
    flex-direction: row;
    justify-content: center;
    filter: blur(2px) opacity(37%) drop-shadow(3px -3px 0px #0052ff);
-webkit-filter: blur(2px) opacity(37%) drop-shadow(3px -3px 0px #0052ff);
-moz-filter: blur(2px) opacity(37%) drop-shadow(3px -3px 0px #0052ff);
}

.Movie__Row_info{
    background-color: rgb(131, 131, 131);

}



#imgMovie{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    vertical-align: middle;
}