.NavBar__ContainerNav{
    background-color: #000;
    width: auto;
  height:auto;
  }
  .NavBar__Nav{
   background: rgba(47, 148, 184, 0.863);
   height: 70px;
   width: 100%;
   box-shadow: 0 1px 10px -0px #000;
   margin
  }
  .NavBar__TitleDream{
    color: #000 !important;
    font-size: 30px !important;
    font-family: 'Indie Flower', cursive !important;
  }
.NavBar__Img{
  width: 100%;
 
  height: 400px;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}